@import '../../styles/style.scss';

.sidebar {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: toRem(20);
  }

  &__item {
    border-radius: toRem(10);
    cursor: pointer;
    a {
      padding: toRem(15) toRem(20) toRem(15) toRem(10);
      display: flex;
      align-items: center;
      column-gap: toRem(10);
    }
  }
}
